<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding
         name="web_http"
         bypassProxyOnLocal="false"
         hostNameComparisonMode="WeakWildcard">
        </binding>
      </webHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="http_behavior" >
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web_behavior">
          <webHttp helpEnabled="True" />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <services>
      <service name="WorkManagerService.Service1" behaviorConfiguration="http_behavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://*:18000/my_service" />
          </baseAddresses>
        </host>
        <endpoint
         address="my_service"
         binding="webHttpBinding"
         bindingConfiguration="web_http"
         contract="WorkManagerService.IService1"
         behaviorConfiguration="web_behavior"
   />
        <endpoint contract="IMetadataExchange"
            binding="mexHttpBinding" address="mex"/>
      </service>
    </services>
  </system.serviceModel>

</configuration>
